.contact {
    /* border: 2px solid black; */

    height: auto;
    display: flexbox;
    background-color: rgb(255, 190, 184);
    padding: 0px;

}

.contact .icon{
    position: relative;
    z-index: 2;
   margin: 0 auto;
   top: -50px;
     text-align: center;
    /* border: 2px solid black; */
    width:25%;
    /* background-color: cornsilk; */
    height: auto ;
}
.contact .icon a{

    
}
.contact .icon a i{
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
  color: #FD5757;
    font-size: 70px;
  
}

.contact .grid{
    overflow: hidden;
    /* border: 2px solid black;; */
    height: auto;
    display: flex;
    /* font-family: ubuntu; */
    margin-top: -80px;
    
    
}
.contact  .grid1,
.contact  .grid2 {
    font-weight: bold;
/* text-decoration-line: underline; */
    position: relative;
    margin: 0px auto;
    /* border: 2px solid black; */
    width: 50%;
    height: 100%;
    padding: 20px;
    color:white;
  

}
.contact  .grid1 h1,
.contact  .grid2 h1 {

  font-size:40px;
  font-family: ubuntu;

}
.contact .grid1{
    background-color: rgb(253, 158, 142);
}
.contact .grid1 p{
    padding: 10px;
    width: 400px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.301);
}



.contact .grid1 ul a{
    
}
.contact .social-media a{
    padding: 10px;
    color: white;
font-size: 50px;
}



/* grid2 */
.contact .grid2 {
    background-color: rgb(253, 194, 183);
}

.contact  .grid1 h2 {

    font-size:30px;
    font-family: ubuntu;
  
  }
.contact .grid2 label{
    display: block;
    font-size: 30px;
    /* background-color: khaki; */
    width: 100%;

}
.contact .grid2 input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    display: block;
    font-size: 20px;
   margin: 10px;
    width: 70%;

}
.contact .grid2 button{
    outline: none;
    border: none;
    color: rgb(248, 109, 109);
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    display: block;
    font-size: 20px;
   margin: 10px;
    width: 40%;

}
.contact .grid2 button:hover{
    color: white;
    background-color: rgb(248, 109, 109);
}